.client {
    overflow: hidden;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#clients {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientheading {
    font-size: 3rem;
    font-weight: 600;
}

.clientdetails {
    font-size: 18px;
    font-weight: 400;
}

.compname {
    display: flex;
    gap: 30px;
    padding: 3rem 0;
}

.compimg {
    object-fit: cover;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contme {
    font-size: 3rem;
    font-weight: 600;
}

.contdetails {
    font-size: 18px;
    font-weight: 400;
}

.contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    max-width: 100vw;
    margin: 0 auto;
}

.name,
.email,
.message {
    background-color: rgb(50, 50, 50);
    font-size: 16px;
    color: white;
    margin: 0.5rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    max-width: 100vw;
    width: 30rem;
    outline: none;
}

.submitbtn {
    display: flex;
    align-items: center;
    padding: .70rem 3rem;
    border: none;
    border-radius: .75rem;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    margin: 2rem 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    column-gap: .75rem;
}

.link {
    object-fit: cover;
    height: 3rem;
    cursor: pointer;
}

@media(max-width:1024px) {
    .clientdetails {
        width: 36rem;
    }
}

@media(max-width:768px) {
    .makeitnone {
        display: none;
    }

    .clientdetails {
        width: 40rem;
    }

    .compname {
        gap: 20px;
    }

    .compimg {
        height: 4rem;
    }
}

@media(max-width:425px) {
    .client{
        max-width: none !important;
        width: 105%;
    }
    .clientdetails {
        width: 24rem;
        font-size: 14px;
    }

    .clientheading {
        font-size: 2.5rem;
    }

    .compname {
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .contdetails {
        width: 18rem;
        font-size: 14px;
    }

    .name,
    .email,
    .message {
        max-width: 84vw;
    }
}

@media(max-width:375px){
    .client{
        max-width: none !important;
        width: 105%;
    }
    .clientdetails{
        width: 20rem;
    }
}