.footer{
    font-size: small;
    font-weight: 400;
    height: 4rem;
    max-width: 100vw;
    background-color: rgb(40,40,40);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
@media(max-width:425px){
    .footer{
        width: 105%;
        max-width: none !important;
    }
}