.active{
    color: rgb(255, 50, 50);
    padding: 8px 0;
    border-bottom: 3px solid rgb(255, 50, 50);
}
.navbar{
    height: 5rem;
    max-width: 90vw;
    padding: 0 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(30, 30, 30);
    user-select: none;
}

.navbar .logo{
    object-fit: cover;
    height: 4rem;
    cursor: pointer;
}

.deskmenuitem{
    margin: 2rem;
    font-size: 18px;
    cursor: pointer;
}
.deskmenuitem:hover{
    color: rgb(255, 50, 50);
    padding-bottom: 8px;
    border-bottom: 3px solid rgb(255, 50, 50);
    transition: .3s ;
}

.contactMe{
    display: flex;
    align-items: center;
    padding: 14px 1.6rem;
    border: none;
    border-radius: 2.5rem;
    background-color: white;
    color: black;
    gap: 8px;
    cursor: pointer;
}

.contactMe p{
    font-size: 14px;
    font-weight: 500;
}

.mobmenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
.navmenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40, 40, 40);
    border-radius: 1rem;
}

.Listitem{
    color: white;
    padding: .5rem 3rem;
    margin: 0.25rem;
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: .4rem;
}

@media(max-width:1024px){
    .navbar{
        padding: 0 40px;
        top: 0;
    }
}

@media(max-width:768px){
    .navbar {
        padding: 0px 20px;
        top: 0;
    }
    .contactMe{
        padding: 10px 1rem;
    }
    .contactMe p{
        font-size: 12px;
    }
}

@media(max-width:745px){
    .navbar{
        top: 0;
    }
    .mobmenu{
        display: flex;
    }
    .deskmenu,.contactMe{
        display: none;
    }
    .active{
        color: rgb(255, 50, 50);
        border-bottom: 2px solid rgb(255, 50, 50);
    }
}

@media(max-width:425px){
    .navbar{
        max-width: none !important;
        width: 105% !important;
        padding: 0 1rem;
        top: 0;
    }
    .mobmenu{
        margin-right: 0px;
    }
}
@media(max-width:375px){
    .mobmenu{
        margin-right: 0;   
    }
}
@media(max-width:320px){
    .navbar{
        max-width: none !important;
        width: 109% !important;
    }
    .mobmenu{
        margin-right: 0;
    }
}